/* css reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px; 
}
#logo{
    margin: -36px 30px;
}
#logo img{
    height: 61px;
    margin: 37px 33px;
    border-radius: 44px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaina 2', cursive;

}
/* ninja technique */
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    top: 0px;
    left: 0px;
}


#navbar ul li{

    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
     color: rgb(248, 244, 244);
     display: block; 
     padding: 3px 22px;  
     border-radius: 20px; 
     text-decoration: none;  
}
#navbar ul li a:hover{
    color: rgb(6, 5, 8);
    background-color: rgb(164, 233, 187);   
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    height: 463px;
    align-items: center; 
}
#home::before{
    content: "";
    position: absolute;
    background:url("../images/background.jpg") no-repeat center center/cover;
    top: 0px;
    left 0px; 
    height: 67%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    left: 0px;
}

#home h1{
    color: rgb(5, 5, 7);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 190px;
}
#home p{
    color: rgb(14, 2, 2);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Source Serif Pro', serif;
}

/* Menu Section*/
#menu-container{
    text-align: center;
    margin-top: 40px;
}
#menu{
    margin: 40px;
    display: flex;
    text-align: center;
}
#menu .box{
    border: 2px solid brown; 
    padding: 34px;
    margin: 3px 25px;
    border-radius: 28px; 
    background-color: rgb(137, 208, 230);
}
#menu .box img{
    height: 150px;   
}
#menu .box p{
    font-family: 'Source Serif Pro', serif;     
}

/* Utility Classes */
.h-primary{   
    font-family: 'Source Serif Pro', serif;     
    font-size: 3rem;
    padding: 20px;
} 
.h-secondary{ 
    font-family: 'Source Serif Pro', serif;       
    font-size: 1.5rem;
    padding: 14px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: rgb(0, 0, 8);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}



/* sponser-section */
#sponser-section{
    text-align: center; 
}
#sponsers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponser-item{
    padding: 8px;
}
.sponser-item img{
    height: 90px;
}

#sponser-section::before{
    content: "";
    position: absolute; 
    background: url("../images/backghrondsponsers\ food\ .jpg");
    width: 100%;
    height: 27%;
    z-index: -1;
    opacity: 0.4;
    left: 0px;
}

/* Contact section */
#contact-us-section{
    text-align: center;  
    position: relative;
    margin-top: 20px;
}

#contact-us-section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    left: 0px;
    background: url("../images/foo.jpg") no-repeat center/cover;
    margin-top: 15px;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    text-align: left;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.2rem; 
    font-family: 'Source Serif Pro', serif; 
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}



/* Footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 9px 20px;
}



html{
    scroll-behavior: smooth;
}