/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */

#navbar{
    display: flex;
    align-items: center;
    position:absolute;
    top: 0px; 
}
#logo{
    /* margin: -4px 40px; */
    margin: -36px 30px;
}
#logo img{
    /* height: 61px;
    margin: 39px 25px;
    border-radius: 50px; */
    height: 61px;
    margin: 37px 33px;
    border-radius: 44px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaina 2', cursive;

}
/* ninja technique */
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}


#navbar ul li{
    /* display: flex;  */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
     color: rgb(248, 244, 244);
     display: block; 
     padding: 3px 22px;  
     border-radius: 20px; 
     text-decoration: none;  
}
#navbar ul li a:hover{
    color: rgb(6, 5, 8);
    background-color: rgb(164, 233, 187);   
}



/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    height: 750px;
    align-items: center; 
}
#home::before{
    content: "";
    position: absolute;
    background:url("../images/background.jpg") no-repeat center center/cover;
     
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    left: 0px;
}

#home h1{
    color: rgb(5, 5, 7);
    text-align: center;
    font-size: 1.5rem;
}
#home p{
    color: rgb(14, 2, 2);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Source Serif Pro', serif;;
}


/* Menu Section*/
.menu-container{
    text-align: center;
    /* padding: 5px 20px 50px 2px; */
}
#menu{
    margin: 40px;
    display: flex;
    text-align: center;
}
#menu .box{
    border: 3px solid brown; 
    padding: 10px;
    margin: 3px 6px;
    border-radius: 28px; 
    background-color: rgb(137, 208, 230);
}
#menu .box img{
    height: 150px;
    
}
#menu{
    
}
#menu{
    
}


/* Utility Classes */
.h-primary{        
    font-size: 3rem;
    padding: 14px;
} 
.h-secondary{        
    font-size: 2.8rem;
    padding: 14px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: rgb(0, 0, 8);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}


